.elypseAnimate {
    animation: elypse1 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}
@media only screen and (min-width: 600px) {
    #elypse1 {
        width: 200%;
        height: 100%;
        border-radius: 100%;
        background-color: #97D96D;
        position: fixed;
        transform: translate(-50%,50%);
        transform-origin: 50% 50%;
    }

    @keyframes elypse1 {
        0% {
            transform: translate(-25%, -10%);
            height: 200%;
            background-color: #97D96D;
            opacity: 100%;
        }
        1% {
            transform: translate(-25%, -10%);
            height: 200%;
            opacity: 100%;
            opacity: 100%;
        }
        2% {
            height: 100%;
            transform: translate(-25%,50%);
            opacity: 100%;
        }
        15% {
            height: 100%;
            transform: translate(-25%,50%);
            background-color: #97D96D;
            opacity: 100%;
        }
        17% {
            transform: translate(-25%, -10%);
            height: 200%;
            background-color: #8DC967;
            opacity: 100%;
        }
        70% {
            opacity: 100%;
        }
        71% {
            opacity: 0%;
        }
        100%{
            transform: translate(-25%, -10%);
            height: 200%;
            background-color: #8DC967;
            opacity: 0%;
        }
    }
}

@media only screen and (max-width: 599px) {
    #elypse1 {
        width: 300%;
        height: 100%;
        border-radius: 100%;
        background-color: #8d6dd9;
        position: fixed;
        transform: translate(-50%,50%);
        transform-origin: 50% 50%;
    }

    @keyframes elypse1 {
        0% {
            transform: translate(-33%, -10%);
            height: 200%;
            background-color: #97D96D;
            opacity: 100%;
        }
        1% {
            transform: translate(-33%, -10%);
            height: 200%;
            opacity: 100%;
            opacity: 100%;
        }
        2% {
            height: 100%;
            transform: translate(-33%,50%);
            opacity: 100%;
        }
        15% {
            height: 100%;
            transform: translate(-33%,50%);
            background-color: #97D96D;
            opacity: 100%;
        }
        17% {
            transform: translate(-33%, -10%);
            height: 200%;
            background-color: #8DC967;
            opacity: 100%;
        }
        70% {
            opacity: 100%;
        }
        71% {
            opacity: 0%;
        }
        100%{
            transform: translate(-33%, -10%);
            height: 200%;
            background-color: #8DC967;
            opacity: 0%;
        }
    }
}
  
/*
@keyframes elypse1 {
    0% {
        transform: translate(-25%, -10%);
        width: 200%;
        height: 200%;
        background-color: #97D96D;
        opacity: 100%;
    }
    1% {
        transform: translate(-25%, -10%);
        width: 200%;
        height: 200%;
        opacity: 100%;
        opacity: 100%;
    }
    2% {
        width: 200%;
        height: 100%;
        transform: translate(-25%,50%);
        opacity: 100%;
    }
    15% {
        width: 200%;
        height: 100%;
        transform: translate(-25%,50%);
        background-color: #97D96D;
        opacity: 100%;
    }
    17% {
        transform: translate(-25%, -10%);
        width: 200%;
        height: 200%;
        background-color: #8DC967;
        opacity: 100%;
    }
    70% {
        opacity: 100%;
    }
    71% {
        opacity: 0%;
    }
    100%{
        transform: translate(-25%, -10%);
        width: 200%;
        height: 200%;
        background-color: #8DC967;
        opacity: 0%;
    }
}*/

