#home_logo {
    position: fixed;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 2px 2px 4px 0px #878787;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #777777;
    text-decoration: none;
    transition: all 0.3s ease; /* Ajoute une transition pour l'effet de soulèvement */
}

#home_logo:hover {
    box-shadow: 4px 4px 8px 0px #878787; /* Augmente l'ombre pour l'effet de soulèvement */
    transform: translateY(-2px); /* Soulève le bouton légèrement */
}