/* Styles par défaut */
#home_logo_about {
    position: fixed;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: 15px;
    box-shadow: 2px 2px 4px 0px #878787;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #777777;
    text-decoration: none;
    transition: all 0.3s ease;
}

#home_logo_about:hover {
    box-shadow: 4px 4px 8px 0px #878787;
    transform: translateY(-2px);
}

/* Requête media pour les écrans plus petits que 850px */
@media (max-width: 850px) {
    #home_logo_about {
        bottom: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Rendre l'élément circulaire */
        margin-left: 20px; /* Ajuster le margin si nécessaire */
        justify-content: center;
        padding: 0; /* Supprime le padding pour centrer la flèche */
        overflow: hidden; /* Masque tout débordement */
        text-indent: 101%; /* Cache le texte */
        white-space: nowrap; /* Empêche le texte de se diviser */
        display: block;
        text-align:unset;
    }

    #home_logo_about::before {
        content: '←'; /* Affiche uniquement la flèche */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-150%, -50%);
        font-size: 20px; /* Ajuste la taille de la flèche */
        color: #777777; /* Même couleur que le texte d'origine */
    }
}
