/*
@media only screen and (min-width: 950px) {
.board {
    position: fixed;
    transform-origin: 100% 0%;
    transform: translate(-100% 0%);
    right: 18%;
    top: 30%;
    width: 30%;
    height: 30%;
    animation: board 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes board {
    0% {
        opacity: 0%;
        right: -80%;
    }

    30% {
        opacity: 100%;
        right: -80%;
    }
    33% {
        opacity: 100%;
        right: 18%;
    }
    37%{
        width: 30%;
        height: 30%;
        right: 18%;
        top: 30%;
    }
    40%{
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
    }
    42% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
    }
    43% {
        width: 400%;
        height: 400%;
        right: -125%;
        top: -265%;
        opacity: 100%;
    }
    74.5% {
        width: 400%;
        height: 400%;
        right: -125%;
        top: -265%;
        opacity: 100%;
    }
    75% {
        opacity: 0%;
    }
    100% {
        width: 400%;
        height: 400%;
        right: -125%;
        top: -265%;
        opacity: 0%;
    }
}

#name6 {
    position: fixed;
    transform: scale(1);
    animation: name6 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#name8 {
    position: fixed;
    transform: scale(1);
    animation: name8 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes name6 {
    0% {
        transform: scale(0);
        opacity: 0%;
    }

    37% {
        transform: scale(10);
        opacity: 0%;
    }
    40% {
        transform: scale(1);
        opacity: 100%;
    }

}

@keyframes name8 {
    0% {
        transform: scale(0);
        opacity: 0%;
    }

    39% {
        transform: scale(10);
        opacity: 0%;
    }
    41% {
        transform: scale(1);
        opacity: 100%;
    }

}
}

@media only screen and (max-width: 949px) {
    .board {
        position: fixed;
        transform-origin: 50% 50%;
        transform: translate(-50% -50%);
        right: 18%;
        top: 28%;
        width: 50%;
        height: 50%;
        animation: board 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    @keyframes board {
        0% {
            opacity: 0%;
            right: -80%;
        }
    
        30% {
            opacity: 100%;
            right: -80%;
        }
        33% {
            opacity: 100%;
            right: 3%;
        }
        37%{
            width: 50%;
            height: 50%;
            right: 3%;
            top: 28%;
        }
        40%{
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
        }
        42% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
        }
        43% {
            width: 1000%;
            height: 1000%;
            top: -550%;
            right: -350%;
            opacity: 100%;
        }
        74.5% {
            width: 1000%;
            height: 1000%;
            top: -550%;
            right: -350%;
            opacity: 100%;
        }
        75% {
            opacity: 0%;
        }
        100% {
            width: 1000%;
            height: 1000%;
            right: -5%;
            top: -5%;
            opacity: 0%;
        }
    }
    
    #name6 {
        position: fixed;
        transform: scale(1);
        animation: name6 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    #name8 {
        position: fixed;
        transform: scale(1);
        animation: name8 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    @keyframes name6 {
        0% {
            transform: scale(0);
            opacity: 0%;
        }
    
        37% {
            transform: scale(10);
            opacity: 0%;
        }
        40% {
            transform: scale(1);
            opacity: 100%;
        }
    
    }
    
    @keyframes name8 {
        0% {
            transform: scale(0);
            opacity: 0%;
        }
    
        39% {
            transform: scale(10);
            opacity: 0%;
        }
        41% {
            transform: scale(1);
            opacity: 100%;
        }
    
    }
    }
    */
@media only screen and (min-width: 1000px) {
.board {
    position: fixed;
    transform-origin: 60% 100%;
    transform: translate(-50% -50%) rotate(45deg);
    right: 35%;
    top: 35%;
    animation: board 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes board {
    0% {
        opacity: 0%;
        right: -80%;
        width: 30%;
        height: 30%;
        transform: scale(1);
    }

    30% {
        opacity: 100%;
        right: -80%;
        width: 30%;
        height: 30%;
        top: 30%;
    }
    33% {
        opacity: 100%;
        right: 18%;
        width: 30%;
        height: 30%;
        top: 30%;
    }
    37%{
        width: 30%;
        height: 30%;
        right: 18%;
        top: 30%;
    }
    40%{
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
    }
    42% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
        transform: scale(1);
    }
    43% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
        transform: scale(2);
        opacity: 100%;
    }
    74.5% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
        transform: scale(2);
        opacity: 100%;
    }
    75% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
        transform: scale(2);
        opacity: 0%;
    }
    100% {
        width: 110%;
        height: 110%;
        right: -5%;
        top: -5%;
        transform: scale(2);
        opacity: 0%;
    }
}

#name6 {
    position: fixed;
    transform: scale(1);
    animation: name6 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

#name8 {
    position: fixed;
    transform: scale(1);
    animation: name8 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes name6 {
    0% {
        transform: scale(0);
        opacity: 0%;
    }

    37% {
        transform: scale(10);
        opacity: 0%;
    }
    40% {
        transform: scale(1);
        opacity: 100%;
    }

}

@keyframes name8 {
    0% {
        transform: scale(0);
        opacity: 0%;
    }

    39% {
        transform: scale(10);
        opacity: 0%;
    }
    41% {
        transform: scale(1);
        opacity: 100%;
    }

}
}

@media only screen and (max-width: 999px) and (min-width: 450px) {
    .board {
        position: fixed;
        transform-origin: 60% 75%;
        transform: translate(-50% -50%);
        right: 35%;
        top: 35%;
        animation: board 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    @keyframes board {
        0% {
            opacity: 0%;
            right: -80%;
            width: 50%;
            height: 50%;
            transform: scale(1);
        }
    
        30% {
            opacity: 100%;
            right: -80%;
            width: 50%;
            height: 50%;
            top: 30%;
        }
        33% {
            opacity: 100%;
            right: 2%;
            width: 50%;
            height: 50%;
            top: 30%;
        }
        37%{
            width: 50%;
            height: 50%;
            right: 2%;
            top: 30%;
        }
        40%{
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
        }
        42% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
            transform: scale(1);
        }
        43% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
            transform: scale(2);
            opacity: 100%;
        }
        74.5% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
            transform: scale(2);
            opacity: 100%;
        }
        75% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
            transform: scale(2);
            opacity: 0%;
        }
        100% {
            width: 110%;
            height: 110%;
            right: -5%;
            top: -5%;
            transform: scale(2);
            opacity: 0%;
        }
    }
    #name6 {
        position: fixed;
        transform: scale(1);
        animation: name6 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    #name8 {
        position: fixed;
        transform: scale(1);
        animation: name8 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    @keyframes name6 {
        0% {
            transform: scale(0);
            opacity: 0%;
        }
    
        37% {
            transform: scale(10);
            opacity: 0%;
        }
        40% {
            transform: scale(1);
            opacity: 100%;
        }
    
    }
    
    @keyframes name8 {
        0% {
            transform: scale(0);
            opacity: 0%;
        }
    
        39% {
            transform: scale(10);
            opacity: 0%;
        }
        41% {
            transform: scale(1);
            opacity: 100%;
        }
    
    }
}

@media only screen and (max-width: 449px) {
        .board {
            position: fixed;
            transform-origin: 60% 61%;
            transform: translate(-50% -50%);
            right: 35%;
            top: 35%;
            animation: board 1s linear;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
        
        @keyframes board {
            0% {
                opacity: 0%;
                right: -80%;
                width: 50%;
                height: 50%;
                transform: scale(1);
            }
        
            30% {
                opacity: 100%;
                right: -80%;
                width: 50%;
                height: 50%;
                top: 33%;
            }
            33% {
                opacity: 100%;
                right: 13%;
                width: 50%;
                height: 50%;
                top: 33%;
            }
            37%{
                width: 50%;
                height: 50%;
                right: 13%;
                top: 33%;
            }
            40%{
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
            }
            42% {
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
                transform: scale(1);
            }
            43% {
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
                transform: scale(3);
                opacity: 100%;
            }
            74.5% {
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
                transform: scale(3);
                opacity: 100%;
            }
            75% {
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
                transform: scale(3);
                opacity: 0%;
            }
            100% {
                width: 110%;
                height: 110%;
                right: -5%;
                top: -5%;
                transform: scale(3);
                opacity: 0%;
            }
        }
        #name6 {
            position: fixed;
            transform: scale(1);
            animation: name6 1s linear;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
        
        #name8 {
            position: fixed;
            transform: scale(1);
            animation: name8 1s linear;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
            animation-iteration-count: 1;
            animation-fill-mode: both;
        }
        
        @keyframes name6 {
            0% {
                transform: scale(0);
                opacity: 0%;
            }
        
            37% {
                transform: scale(10);
                opacity: 0%;
            }
            40% {
                transform: scale(1);
                opacity: 100%;
            }
        
        }
        
        @keyframes name8 {
            0% {
                transform: scale(0);
                opacity: 0%;
            }
        
            39% {
                transform: scale(10);
                opacity: 0%;
            }
            41% {
                transform: scale(1);
                opacity: 100%;
            }
        
        }
}