@keyframes bg {
    0%, 68% {
        background-color: #56A926;
    }
    69%, 100% {
        background-color: #93C4FF;
    }
}
@keyframes progress {
    0% {
      background-color: #fff;
      width: 0%;
    }
    100% {
      background-color: rgb(20, 255, 226);
      width: 100%;
    }
}

