@media only screen and (min-width: 1150px) {
.toolbox {
    position: fixed;
    width: 30%;
    height: 30%;
    transform-origin: 100% 100%;
    transform: translate(-100% -100%);
    bottom: 13%;
    left: 15%;
    animation: toolbox 1s linear;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes toolbox {
    0% {
        opacity: 0%;
        left: -80%;
    }

    30% {
        opacity: 100%;
        left: -80%;
    }
    33% {
        opacity: 100%;
        left: 15%;
        bottom: 13%;
    }
    37%{
        width: 30%;
        height: 30%;
        left: 15%;
        bottom: 13%;
    }
    40%{
        width: 150%;
        height: 150%;
        left: -200%;
        bottom: -150%;
    }
    100% {
        width: 150%;
        height: 150%;
        left: -200%;
        bottom: -150%;
    }
}
}

@media only screen and (max-width: 1149px) and (min-width: 950px){
    .toolbox {
        position: fixed;
        width: 25%;
        height: 25%;
        transform-origin: 100% 100%;
        transform: translate(-100% -100%);
        bottom: 13%;
        left: 15%;
        animation: toolbox 1s linear;
        animation-play-state: paused;
        animation-delay: calc(var(--scroll) * -1s);
        animation-iteration-count: 1;
        animation-fill-mode: both;
    }
    
    @keyframes toolbox {
        0% {
            opacity: 0%;
            left: -80%;
        }
    
        30% {
            opacity: 100%;
            left: -80%;
        }
        33% {
            opacity: 100%;
            left: 5%;
            bottom: 13%;
        }
        37%{
            width: 25%;
            height: 25%;
            left: 5%;
            bottom: 13%;
        }
        40%{
            width: 150%;
            height: 150%;
            left: -200%;
            bottom: -150%;
        }
        100% {
            width: 150%;
            height: 150%;
            left: -200%;
            bottom: -150%;
        }
    }
    }

    @media only screen and (max-width: 949px) {
        .toolbox {
            position: fixed;
            width: 25%;
            height: 25%;
            transform-origin: 100% 100%;
            transform: translate(-100% -100%);
            bottom: 13%;
            left: 15%;
            animation: toolbox 1s linear;
            animation-play-state: paused;
            animation-delay: calc(var(--scroll) * -1s);
            animation-iteration-count: 1;
            animation-fill-mode: both;
            display: none;
        }
        
        @keyframes toolbox {
            0% {
                opacity: 0%;
                left: -80%;
            }
        
            30% {
                opacity: 100%;
                left: -80%;
            }
            33% {
                opacity: 100%;
                left: 5%;
                bottom: 13%;
            }
            37%{
                width: 25%;
                height: 25%;
                left: 5%;
                bottom: 13%;
            }
            40%{
                width: 150%;
                height: 150%;
                left: -200%;
                bottom: -150%;
            }
            100% {
                width: 150%;
                height: 150%;
                left: -200%;
                bottom: -150%;
            }
        }
        }